{% extends "personal/header.html" %}

{% block content %}
    <h3>{{ post.title}}</h3>
    <h6>on {{ post.date }}</h6>
    {{ post.body|safe|linebreaks}}
    <input onclick="change()" type="button" value="Like " id="myButton1">
    </input>
    <script>
    function change() // no ';' here
    {
        var cnt=0;
        var elem = document.getElementById("myButton1");
        if (elem.value=="Unlike") {
            cnt--;
            elem.value = "Like";
        }
        else {
            cnt++;
            elem.value = "Unlike";
        }
    }
    </script>
{% endblock %}
